body {
  font-family: "Montserrat" !important ;
}
.logout {
  border: none;
  background-color: transparent;
  color: wheat;
}
.avatarIcon {
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #2419be;
  padding: 2px;
  box-shadow: 0 0 5px wheat;
}
.addBtn {
  background-color: blue;
  color: wheat;
  position: fixed;
  bottom: 2%;
  right: 2%;
  box-shadow: 0 0 5px black;
}
.addBtn:hover {
  background-color: wheat;
  color: #2419be;
  border: 1px solid #2419be;
}
.loginUserLink {
  cursor: pointer;
  text-align: left;
}
.loginUserLink img {
  width: 50px;
  height: 50px;
}
.question {
  box-shadow: 0 0 2px wheat;
}
.question:hover {
  box-shadow: 0 0 5px #2419be;
}
.profileImage {
  width: 30%;
  border: 1px solid #2419be;
  border-radius: 50%;
  padding: 1%;
  box-shadow: 0 0 5px #2419be;
}
.avatarQuestion {
  width: 10%;
  border: 1px solid #2419be;
  border-radius: 50%;
}
label {
  cursor: pointer;
}
.notActive,
.loginBtn {
  background-color: #ffffff;
  outline: none;
  color: #2419be;
  border: 1px solid #2419be;
}

.isActive,
.isActive:hover,
.notActive:hover,.loginBtn:hover {
  background-color: #2419be;
  outline: none;
  color: #ffffff;
}
