body {
  margin: 0;
  font-family: 'Montserrat' ;
}
.logout{
  border: none;
  background-color: transparent;
  color: wheat;
}
.avatarIcon{
  height:30px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid #2419be;
  padding: 2px;
  box-shadow: 0 0 5px wheat;
}
.addBtn{
  background-color: blue;
  color: wheat;
  position: fixed;
  bottom: 2%;
  right: 2%;
  box-shadow: 0 0 5px black;
}
.addBtn:hover{
  background-color: wheat;
  color: #2419be;
  border: 1px solid #2419be;
}